In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 500
pd.options.display.max_rows = 10000

In [24]:
names = [
    'NumeroCredito', 
    'CodigoBien', 
    'FechaLiquidacion', 
    'CodigoContable', 
    'ClaseBien', 
    'TipoCliente', 
    'IdentificacionCliente', 
    'NombreRazonSocial', 
    'SituacionGarante', 
    'MontoInicial', 
    'MontoActual', 
    'MontoAvaluo', 
    'ValorMercado', 
    'FechaUltimoAvaluo', 
    'CodigoPeritoAvaluador',
]

converters = {
    'BranchId':str, 
}

parse_dates = [
    'FechaLiquidacion',
    'FechaUltimoAvaluo',
]

In [34]:
AT07 = pd.read_csv('../vol/web/media/insumos/automatic/AT07_200108.txt',
                   sep='~', 
                   low_memory=False, 
                   encoding = "latin",
                   parse_dates=parse_dates, 
                   header=None,
                   names=names)

In [35]:
AT07[['MontoInicial', 'MontoActual', 'MontoAvaluo', 'ValorMercado']] = AT07[['MontoInicial', 'MontoActual', 'MontoAvaluo', 'ValorMercado']].replace(to_replace=',', value='.', regex=True)

In [36]:
AT07.MontoInicial = pd.to_numeric(AT07.MontoInicial, errors='coerce', downcast='float')
AT07.MontoActual = pd.to_numeric(AT07.MontoActual, errors='coerce', downcast='float')
AT07.MontoAvaluo = pd.to_numeric(AT07.MontoAvaluo, errors='coerce', downcast='float')
AT07.ValorMercado = pd.to_numeric(AT07.ValorMercado, errors='coerce', downcast='float')

In [37]:
AT07

,NumeroCredito,CodigoBien,FechaLiquidacion,CodigoContable,ClaseBien,TipoCliente,IdentificacionCliente,NombreRazonSocial,SituacionGarante,MontoInicial,MontoActual,MontoAvaluo,ValorMercado,FechaUltimoAvaluo,CodigoPeritoAvaluador
0,8190510301,119348/34,2019-02-20,8131110000,0,J,2017805,PRODUCTOS ALIMENTICIOS KELLYS SA,1,2.000000e+09,3.333333e+08,0.0,0.0,1900-01-01,0
1,8190520301,122272/2,2019-02-20,8131110000,0,J,298046538,AGROPECUARIA TIERRA DE AGUA CA,1,3.600000e+06,3.600000e+06,0.0,0.0,1900-01-01,0
2,8190880303,122255/1,2019-03-29,8131110000,0,J,306218734,AGROPECUARIA EL DOCORO CA,1,2.500000e+08,2.500000e+08,0.0,0.0,1900-01-01,0
3,8190880304,122254/1,2019-03-29,8131110000,0,J,85034056,INVERSIONES SAN LUIS CA,1,2.500000e+08,2.500000e+08,0.0,0.0,1900-01-01,0
4,8191290301,121340/0003/01,2019-05-09,8131110000,0,J,303313019,INVERSORA ISLAMAR CA,1,1.000000e+08,1.000000e+08,0.0,0.0,1900-01-01,0
5,8191340308,122028/3,2019-05-14,8131110000,0,J,306579630,CONSTRUCTORA DANGO CA,1,2.900238e+07,2.900238e+07,0.0,0.0,1900-01-01,0
6,8191340308,122028/4,2019-05-14,8130410200,3,J,306579630,CONSTRUCTORA DANGO CA,1,5.273159e+07,2.624281e+07,26242812.0,26242812.0,2019-04-05,713
7,8191370302,122199,2019-05-17,8131110000,0,J,801487,HIDROPONIAS VENEZOLANAS CA,1,2.000000e+09,5.000000e+08,0.0,0.0,1900-01-01,0
8,8191440301,119348/34,2019-05-24,8131110000,0,J,2017805,PRODUCTOS ALIMENTICIOS KELLYS SA,1,2.000000e+09,3.333333e+08,0.0,0.0,1900-01-01,0
9,8191780303,121230/17,2019-06-27,8131110000,0,J,1428860,ACO ALQUILER SA,1,3.000000e+08,3.000000e+08,0.0,0.0,1900-01-01,0
10,8191980301,119348/34,2019-07-17,8131110000,0,J,2017805,PRODUCTOS ALIMENTICIOS KELLYS SA,1,2.000000e+09,3.333333e+08,0.0,0.0,1900-01-01,0
11,8192040301,122199,2019-07-23,8131110000,0,J,801487,HIDROPONIAS VENEZOLANAS CA,1,2.000000e+09,5.000000e+08,0.0,0.0,1900-01-01,0
12,8192200301,122005,2018-08-08,8131110000,0,J,300058085,AGROPECUARIA NIVAR CA,1,2.000000e+09,2.000000e+09,0.0,0.0,1900-01-01,0
13,8192280302,119348/34,2019-08-16,8131110000,0,J,2017805,PRODUCTOS ALIMENTICIOS KELLYS SA,1,2.000000e+09,3.333333e+08,0.0,0.0,1900-01-01,0
14,8192280303,122144,2019-08-16,8131110000,0,J,298227184,ALIMENTOS PROCESADOS Y COMERCIALIZADOS CA,1,2.000000e+09,2.000000e+09,0.0,0.0,1900-01-01,0
15,8192320301,122124/5,2019-08-20,8131110000,0,J,314873709,TECNO SERVICIOS DE OCCIDENTE CA,1,1.488575e+08,1.488575e+08,0.0,0.0,1900-01-01,0
16,8192320301,122124/5/1,2019-08-20,8130410200,3,J,314873709,TECNO SERVICIOS DE OCCIDENTE CA,1,2.706500e+08,1.121463e+08,112146304.0,112146304.0,2019-08-08,3538
17,8192760302,122199,2019-10-03,8131110000,0,J,801487,HIDROPONIAS VENEZOLANAS CA,1,2.000000e+09,5.000000e+08,0.0,0.0,1900-01-01,0
18,8192760303,119348/34,2019-10-03,8131110000,0,J,2017805,PRODUCTOS ALIMENTICIOS KELLYS SA,1,2.000000e+09,3.333333e+08,0.0,0.0,1900-01-01,0
19,8192820309,122263/1,2019-10-08,8131110000,0,J,299058157,KC PUBLICIDAD CA,1,2.000000e+08,2.000000e+08,0.0,0.0,1900-01-01,0
20,8192830301,122199,2019-10-10,8131110000,0,J,801487,HIDROPONIAS VENEZOLANAS CA,1,2.000000e+09,5.000000e+08,0.0,0.0,1900-01-01,0
21,8192830304,119348/34,2019-10-10,8131110000,0,J,2017805,PRODUCTOS ALIMENTICIOS KELLYS SA,1,2.000000e+09,3.333333e+08,0.0,0.0,1900-01-01,0

In [31]:
AT07.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 15 columns):
NumeroCredito            22 non-null int64
CodigoBien               22 non-null object
FechaLiquidacion         22 non-null datetime64[ns]
CodigoContable           22 non-null int64
ClaseBien                22 non-null int64
TipoCliente              22 non-null object
IdentificacionCliente    22 non-null int64
NombreRazonSocial        22 non-null object
SituacionGarante         22 non-null int64
MontoInicial             22 non-null object
MontoActual              22 non-null object
MontoAvaluo              22 non-null object
ValorMercado             22 non-null object
FechaUltimoAvaluo        22 non-null datetime64[ns]
CodigoPeritoAvaluador    22 non-null int64
dtypes: datetime64[ns](2), int64(6), object(7)
memory usage: 2.7+ KB

In [38]:
AT07.to_csv('../vol/web/media/insumos/automatic/fixed/AT07.txt', sep='~', date_format='%d/%m/%Y', index=False)