In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 10000

In [3]:
bbat = pd.read_csv('../vol/web/media/insumos/automatic/BalByAcctTransformada.txt', sep='	', low_memory=False)

In [4]:
bbat.head()

,Acct,SaldoRendXcobrar,SaldoRendXcobrarVenc,SaldoRendCuentaOrden,SaldoRendXMora,ProvisionREND,Saldo_Provision_REND
0,5197230000000377,Bs.S15731.25,Bs.S0.00,Bs.S0.00,Bs.S0.00,0.0,0.0
1,5197230000000914,Bs.S8083.62,Bs.S0.00,Bs.S0.00,Bs.S0.00,0.0,0.0
2,5197230000002167,Bs.S13413.01,Bs.S0.00,Bs.S0.00,Bs.S0.00,0.0,0.0
3,5197230000003801,Bs.S34513.45,Bs.S0.00,Bs.S0.00,Bs.S0.00,0.0,0.0
4,5197230000004585,Bs.S6693.44,Bs.S0.00,Bs.S0.00,Bs.S0.00,0.0,0.0

In [5]:
bbat.tail()

,Acct,SaldoRendXcobrar,SaldoRendXcobrarVenc,SaldoRendCuentaOrden,SaldoRendXMora,ProvisionREND,Saldo_Provision_REND
1150,9019714601,Bs.S0.38,Bs.S0.00,Bs.S0.00,Bs.S0.00,1.0,0.00
1151,9019736301,Bs.S0.13,Bs.S0.00,Bs.S0.00,Bs.S0.00,1.0,0.00
1152,9019737501,Bs.S9.84,Bs.S0.00,Bs.S0.00,Bs.S0.00,1.0,-0.10
1153,9019737601,Bs.S6.97,Bs.S0.00,Bs.S0.00,Bs.S0.00,1.0,-0.07
1154,9019737801,Bs.S6.97,Bs.S0.00,Bs.S0.00,Bs.S0.00,1.0,-0.07

In [6]:
bbat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 7 columns):
Acct                    1155 non-null int64
SaldoRendXcobrar        1155 non-null object
SaldoRendXcobrarVenc    1155 non-null object
SaldoRendCuentaOrden    1155 non-null object
SaldoRendXMora          1155 non-null object
ProvisionREND           1155 non-null float64
Saldo_Provision_REND    1155 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 63.3+ KB

In [7]:
bbat.SaldoRendXcobrar.replace(to_replace='Bs.S', value='', inplace=True, regex=True)
bbat.SaldoRendXcobrarVenc.replace(to_replace='Bs.S', value='', inplace=True, regex=True)
bbat.SaldoRendCuentaOrden.replace(to_replace='Bs.S', value='', inplace=True, regex=True)
bbat.SaldoRendXMora.replace(to_replace='Bs.S', value='', inplace=True, regex=True)

bbat.SaldoRendXcobrar = pd.to_numeric(bbat.SaldoRendXcobrar, errors='coerce')
bbat.SaldoRendXcobrarVenc = pd.to_numeric(bbat.SaldoRendXcobrarVenc, errors='coerce')
bbat.SaldoRendCuentaOrden = pd.to_numeric(bbat.SaldoRendCuentaOrden, errors='coerce')
bbat.SaldoRendXMora = pd.to_numeric(bbat.SaldoRendXMora, errors='coerce')

In [8]:
bbat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 7 columns):
Acct                    1155 non-null int64
SaldoRendXcobrar        1155 non-null float64
SaldoRendXcobrarVenc    1155 non-null float64
SaldoRendCuentaOrden    1155 non-null float64
SaldoRendXMora          1155 non-null float64
ProvisionREND           1155 non-null float64
Saldo_Provision_REND    1155 non-null float64
dtypes: float64(6), int64(1)
memory usage: 63.3 KB

In [9]:
bbat.to_csv('../vol/web/media/insumos/automatic/fixed/BalByAcctTransformada.txt', sep='~', index=False)