In [3]:
import pandas as pd

In [4]:
pd.options.display.max_columns = 500

In [7]:
cfgesiif_citi_df = pd.read_csv('../vol/web/media/insumos/automatic/CFGE_SIIF_CITI_Actividad_Cliente.txt', sep='~', low_memory=False)

In [8]:
cfgesiif_citi_df

     AtomoSIF TablaSIF  Insumo CodigoCiti CodigoSIF
0        AT06     SB10    CORE         -1       G46
1        AT06     SB10    CORE         27       F42
2        AT06     SB10    CORE        601       K64
3        AT06     SB10    CORE        602       I56
4        AT06     SB10    CORE        603       C24
...       ...      ...     ...        ...       ...
2228     PAIS     SB03     TDC         96        BN
2229     PAIS     SB03     TDC        980        UA
2230     PAIS     SB03     TDC        981        GE
2231     PAIS     SB03     TDC        986        BR
2232     AT14     SB10  COSMOS        XXX       XXX

[2233 rows x 5 columns]