In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = 500

In [17]:
cc_df = pd.read_csv('../vol/web/media/insumos/automatic/ClientesConsumo.txt', sep='~', low_memory=False)

In [18]:
cc_df.Parroquia = cc_df.Parroquia.fillna(0).astype("int64")

In [19]:
cc_df

      IdentificadorCliente  Parroquia Nacionalidad
0                 E1001577     150301           ES
1                 E1001851      10101           XX
2                 E1001852      10101           IT
3                 E1003488     151901           XX
4                 E1004255     151901           ES
...                    ...        ...          ...
60593             V9999364     240106           VE
60594             V9999507     240106           VE
60595             V9999626      30102           VE
60596             V9999703     150302           VE
60597             V9999915     240101           VE

[60598 rows x 3 columns]

In [20]:
cc_df.to_csv('../vol/web/media/insumos/automatic/fixed/CC.txt', sep='~', index=False)