In [12]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 500
pd.options.display.max_rows = 10000

In [13]:
parse_dates = [
    'RecordDate',
]

In [14]:
fdn = pd.read_csv('../vol/web/media/insumos/automatic/TB_FDN.txt', 
                   sep='~', 
                   low_memory=False, 
                   encoding = "latin",
                   parse_dates=parse_dates)

In [16]:
fdn.FechaNacimiento =  pd.to_datetime(fdn.FechaNacimiento, format='%Y%m%d', errors='coerce')

In [17]:
fdn

,TipoCliente,IdCliente,FechaNacimiento,FullName,RecordDate
0,E,1,1900-01-01,M,2019-11-30
1,E,1,1992-02-27,ANDRAWIS WAKIM EL GADA,2019-11-30
2,E,1,1992-05-21,L,2019-11-30
3,E,1,1995-03-10,J,2019-11-30
4,E,1000324,1946-07-31,MARIA OLGA GONCALVES DE PEREIRA,2019-11-30
...,...,...,...,...,...
245314,V,9999915,1969-10-15,"HERNANDEZ CARRERO,ZORELI COROMOTO",2019-11-30
245315,V,9999949,1969-12-28,ARTURO R. MENDEZ G.,2019-11-30
245316,V,9999990,2001-06-27,CITIDIRECT 2,2019-11-30
245317,V,9999998,2013-04-23,YOLANDA,2019-11-30
245318,V,9999999,1937-02-21,CRISTINA DE VARGAS,2019-11-30

In [19]:
fdn.to_csv('../vol/web/media/insumos/automatic/fixed/FDN.txt', sep='~', date_format='%d/%m/%Y', index=False)