In [2]:
import pandas as pd

In [3]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

In [4]:
file_path = '../vol/web/media/insumos/manual/MIS_Provision_092019.xls'

misp_cap = pd.read_excel(file_path, sheet_name='Cliente Data_CAP', 
                         converters={'Account':str, 'CtaLocal':str, 'CtaProv':str, 'Old_Acct':str,})
misp_rend = pd.read_excel(file_path, sheet_name='Cliente Data_REND',
                         converters={'Account':str, 'CtaLocal':str, 'Old_Acct':str,})
misp_od = pd.read_excel(file_path, sheet_name='Cliente_Data_Sobregiro',
                        converters={'Acct':str, 'CtaLocal':str,})

misp_cap.rename({'CtaProv':'CtaProvCap'}, axis='columns', inplace=True)
misp_rend.rename({'CtaLocal':'CtaProvRend'}, axis='columns', inplace=True)
misp_od.rename({'Acct':'Account', 'CtaLocal':'CtaProvCap', 'CId':'Cid'}, axis='columns', inplace=True)

misp_cap.dropna(axis = 0, subset = ['Account'], how = "any", inplace=True)
misp_rend.dropna(axis = 0, subset = ['Account'], how = "any", inplace=True)
misp_od.dropna(axis = 0, subset = ['Account'], how = "any", inplace=True)

misp_cap['AccountNew'] = misp_cap['Account']
misp_rend['AccountNew'] = misp_rend['Account']
misp_od['AccountNew'] = misp_od['Account']

misp_cap.drop(labels = ['Old_Acct'], axis = 1, inplace = True)
misp_rend.drop(labels = ['Old_Acct'], axis = 1, inplace = True)

misp_cap.set_index('Account', drop = True, inplace = True)
misp_rend.set_index('Account', drop = True, inplace = True)
misp_od.set_index('Account', drop = True, inplace = True)

In [5]:
misp_cap

,Cid,Provision,SumSaldo,Saldo_Provision,MaxOfCantCuotasVencidas,ProdType,Riesgo,RecordDate,HDelinquency,BlockCode1Date,BlockCodeId1,BlockReason1,BlockCode2Date,BlockCodeId2,BlockReason2,CtaLocal,CtaProvCap,RiskSicri,AccountNew
Account,,,,,,,,,,,,,,,,,,,
9018027401,V5531214,0.0,1.07,0.00,0.0,607.0,A,2019-09-30,1111111111111111111111111111111211111111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9018027401
9019099601,V9992869,0.0,2.31,0.00,0.0,643.0,A,2019-09-30,1111111111111111111111111111111111111111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019099601
9019707401,V14985390,0.0,0.01,0.00,0.0,607.0,A,2019-09-30,1111111111111111111111111111111111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019707401
9019725001,V9234317,0.0,39.75,0.00,0.0,643.0,A,2019-09-30,11111111111111111111111111111111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019725001
9019730301,V3402105,0.0,47.35,0.00,0.0,607.0,A,2019-09-30,1111111111111111111112111132111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019730301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9019869601,V19730430,0.0,24546914.36,0.00,0.0,17.0,A,2019-09-30,111,NaT,NaN,NaN,NaT,NaN,NaN,1312810101,1390610300,A,9019869601
9019870001,V19369214,0.0,24775749.36,0.00,0.0,17.0,A,2019-09-30,11,NaT,NaN,NaN,NaT,NaN,NaN,1312810101,1390610300,A,9019870001
6700000262,V13252377,0.0,1.19,0.00,0.0,640.0,A,2019-09-30,1111111111111111111111111111111111111111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1311510000,1390310000,A,6700000262
9018973401,V5604833,10.0,0.39,-0.04,0.0,15.0,B,2019-09-30,1111111111111111111111111111111111121111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1311510000,1390310000,B,9018973401
9019519301,V16901172,0.0,0.56,0.00,0.0,12.0,A,2019-09-30,1111111111111111111111111111111111121111111111111,NaT,NaN,NaN,NaT,NaN,NaN,1311510000,1390310000,A,9019519301

In [6]:
misp_rend

,Cid,CtaProvRend,SaldoRendXcobrar,SaldoRendXcobrarVenc,ProvisionREND,Saldo_Provision_REND,Producto,MaxOfCantCuotasVencidas,ProdType,Riesgo,RecordDate,AccountNew
Account,,,,,,,,,,,,
5549290000152193,V10009810,1490310000,14432.04,0.0,0.0,0.0,Master,0.0,999.0,A,2019-09-30,5549290000152193
5197230000074539,V10181501,1490310000,29470.25,0.0,0.0,0.0,Master,0.0,999.0,A,2019-09-30,5197230000074539
5197230000186184,V10181501,1490310000,34923.00,0.0,0.0,0.0,Master,0.0,999.0,A,2019-09-30,5197230000186184
5464900000548049,V10262074,1490310000,8033.28,0.0,0.0,0.0,Master,0.0,999.0,A,2019-09-30,5464900000548049
5464900000592666,V10262074,1490310000,9826.35,0.0,0.0,0.0,Master,0.0,999.0,A,2019-09-30,5464900000592666
...,...,...,...,...,...,...,...,...,...,...,...,...
9019271701,V9878569,1490310000,0.02,0.0,0.0,0.0,Personal Loan,0.0,14.0,A,2019-09-30,9019271701
9019719901,V9959155,1490310000,0.02,0.0,0.0,0.0,Personal Loan,0.0,17.0,A,2019-09-30,9019719901
9019254901,V9967080,1490310000,0.03,0.0,0.0,0.0,Personal Loan,0.0,14.0,A,2019-09-30,9019254901
9019115301,V9969651,1490310000,0.00,0.0,0.0,0.0,Personal Loan,6.0,13.0,C,2019-09-30,9019115301
9019099601,V9992869,1490310000,0.44,0.0,0.0,0.0,Personal Loan,0.0,643.0,A,2019-09-30,9019099601

In [7]:
misp_od

,Cid,CtaProvCap,DescriptionType,Overdraft,Riesgo,Provision,Saldo_Provision,RecordDate,AccountNew
Account,,,,,,,,,
1600346454,V24315210,1390310000,Citiplus Blue,0.16,E,100,-0.16,2019-09-30,1600346454
1026825225,V2910877,1390310000,Citiplus Blue,0.14,E,100,-0.14,2019-09-30,1026825225
1026023706,V18390564,1390310000,Citiplus Blue,0.09,E,100,-0.09,2019-09-30,1026023706
1600334219,V16330134,1390310000,Citiplus Blue,0.13,E,100,-0.13,2019-09-30,1600334219
1025964205,V12475782,1390310000,Cuenta Corriente Blue Nómina,0.05,E,100,-0.05,2019-09-30,1025964205
1036964126,V13693543,1390310000,Citiplus Gold,0.17,E,100,-0.17,2019-09-30,1036964126
5026136603,V6086236,1390310000,Ahorro Gold,0.15,E,100,-0.15,2019-09-30,5026136603
1033728618,V12764274,1390310000,Citiplus Gold,0.16,E,100,-0.16,2019-09-30,1033728618
5023069018,V6923991,1390310000,Ahorro Gold,0.11,E,100,-0.11,2019-09-30,5023069018
1036652205,V5527433,1390310000,Citiplus Blue,0.01,E,100,-0.01,2019-09-30,1036652205
1060184905,V4257718,1390310000,Citiplus Gold,0.02,E,100,-0.02,2019-09-30,1060184905
1035410011,E924758,1390310000,Citiplus Gold,0.01,E,100,-0.01,2019-09-30,1035410011
1036960309,V10111894,1390310000,Citiplus Gold,0.01,E,100,-0.01,2019-09-30,1036960309
1036603603,V11680249,1390310000,Citiplus Gold,0.16,E,100,-0.16,2019-09-30,1036603603
5046604107,V8741642,1390310000,Ahorro Gold,0.03,E,100,-0.03,2019-09-30,5046604107
1055702418,V101486,1390310000,Citiplus Gold,1.20,E,100,-1.20,2019-09-30,1055702418
1057246185,V11875039,1390310000,Citiplus Gold,0.16,E,100,-0.16,2019-09-30,1057246185
1057246029,V15061627,1390310000,Citiplus Blue,0.16,E,100,-0.16,2019-09-30,1057246029
1057228411,V12999499,1390310000,Cuenta Corriente Blue,0.01,E,100,-0.01,2019-09-30,1057228411

In [8]:
misp = pd.merge(left=misp_cap,right=misp_rend, left_on='Account', right_on='Account', how='outer', suffixes=('', '_y'))
# pd.concat([misp_cap, misp_od, misp_rend], sort=True, ).loc['9019271701']

In [9]:
misp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19190 entries, 9018027401 to 9019736301
Data columns (total 31 columns):
Cid                          19185 non-null object
Provision                    19185 non-null float64
SumSaldo                     19185 non-null float64
Saldo_Provision              19185 non-null float64
MaxOfCantCuotasVencidas      19185 non-null float64
ProdType                     19185 non-null float64
Riesgo                       19185 non-null object
RecordDate                   19185 non-null datetime64[ns]
HDelinquency                 1189 non-null object
BlockCode1Date               429 non-null datetime64[ns]
BlockCodeId1                 463 non-null object
BlockReason1                 463 non-null object
BlockCode2Date               314 non-null datetime64[ns]
BlockCodeId2                 463 non-null object
BlockReason2                 463 non-null object
CtaLocal                     19185 non-null object
CtaProvCap                   19185 non-null object
RiskSicri                    19185 non-null object
AccountNew                   19185 non-null object
Cid_y                        949 non-null object
CtaProvRend                  949 non-null object
SaldoRendXcobrar             949 non-null float64
SaldoRendXcobrarVenc         949 non-null float64
ProvisionREND                949 non-null float64
Saldo_Provision_REND         949 non-null float64
Producto                     949 non-null object
MaxOfCantCuotasVencidas_y    949 non-null float64
ProdType_y                   949 non-null float64
Riesgo_y                     949 non-null object
RecordDate_y                 949 non-null datetime64[ns]
AccountNew_y                 949 non-null object
dtypes: datetime64[ns](4), float64(11), object(16)
memory usage: 4.7+ MB

In [10]:
misp.Cid.fillna(misp.Cid_y, inplace=True)
misp.MaxOfCantCuotasVencidas.fillna(misp.MaxOfCantCuotasVencidas_y, inplace=True)
misp.ProdType.fillna(misp.ProdType_y, inplace=True)
misp.Riesgo.fillna(misp.Riesgo_y, inplace=True)
misp.RecordDate.fillna(misp.RecordDate_y, inplace=True)
misp.AccountNew.fillna(misp.AccountNew_y, inplace=True)

In [11]:
misp.drop(labels = ['Cid_y', 
                    'MaxOfCantCuotasVencidas_y', 
                    'ProdType_y', 
                    'Riesgo_y', 
                    'RecordDate_y', 
                    'AccountNew_y'], axis = 1, inplace = True)

In [12]:
misp

,Cid,Provision,SumSaldo,Saldo_Provision,MaxOfCantCuotasVencidas,ProdType,Riesgo,RecordDate,HDelinquency,BlockCode1Date,BlockCodeId1,BlockReason1,BlockCode2Date,BlockCodeId2,BlockReason2,CtaLocal,CtaProvCap,RiskSicri,AccountNew,CtaProvRend,SaldoRendXcobrar,SaldoRendXcobrarVenc,ProvisionREND,Saldo_Provision_REND,Producto
Account,,,,,,,,,,,,,,,,,,,,,,,,,
9018027401,V5531214,0.0,1.07,0.0,0.0,607.0,A,2019-09-30,1111111111111111111111111111111211111111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9018027401,1490310000,0.29,0.0,0.0,0.0,Personal Loan
9019099601,V9992869,0.0,2.31,0.0,0.0,643.0,A,2019-09-30,1111111111111111111111111111111111111111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019099601,1490310000,0.44,0.0,0.0,0.0,Personal Loan
9019707401,V14985390,0.0,0.01,0.0,0.0,607.0,A,2019-09-30,1111111111111111111111111111111111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019707401,NaN,NaN,NaN,NaN,NaN,NaN
9019725001,V9234317,0.0,39.75,0.0,0.0,643.0,A,2019-09-30,11111111111111111111111111111111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019725001,1490310000,2.01,0.0,0.0,0.0,Personal Loan
9019730301,V3402105,0.0,47.35,0.0,0.0,607.0,A,2019-09-30,1111111111111111111112111132111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019730301,1490310000,2.06,0.0,0.0,0.0,Personal Loan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9019737601,V17714114,NaN,NaN,NaN,0.0,643.0,A,2019-09-30,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,9019737601,1490310000,1.72,0.0,0.0,0.0,Personal Loan
9019714601,V17724475,NaN,NaN,NaN,0.0,643.0,A,2019-09-30,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,9019714601,1490310000,0.86,0.0,0.0,0.0,Personal Loan
6000000116,V8744574,NaN,NaN,NaN,10.0,80.0,C,2019-09-30,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,6000000116,1490310000,0.00,0.0,0.0,0.0,Mortgage
6000000313,V9272245,NaN,NaN,NaN,0.0,83.0,A,2019-09-30,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,6000000313,1490310000,0.00,0.0,0.0,0.0,Mortgage
9019736301,V9547080,NaN,NaN,NaN,0.0,643.0,A,2019-09-30,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,9019736301,1490310000,1.09,0.0,0.0,0.0,Personal Loan

In [13]:
# misp.merge(misp_od, on='Account', how='outer', )
mispf = pd.merge(left=misp,right=misp_od, left_on='Account', right_on='Account', how='outer', suffixes=('', '_y'))

In [14]:
mispf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19209 entries, 9018027401 to 1057228411
Data columns (total 34 columns):
Cid                        19190 non-null object
Provision                  19185 non-null float64
SumSaldo                   19185 non-null float64
Saldo_Provision            19185 non-null float64
MaxOfCantCuotasVencidas    19190 non-null float64
ProdType                   19190 non-null float64
Riesgo                     19190 non-null object
RecordDate                 19190 non-null datetime64[ns]
HDelinquency               1189 non-null object
BlockCode1Date             429 non-null datetime64[ns]
BlockCodeId1               463 non-null object
BlockReason1               463 non-null object
BlockCode2Date             314 non-null datetime64[ns]
BlockCodeId2               463 non-null object
BlockReason2               463 non-null object
CtaLocal                   19185 non-null object
CtaProvCap                 19185 non-null object
RiskSicri                  19185 non-null object
AccountNew                 19190 non-null object
CtaProvRend                949 non-null object
SaldoRendXcobrar           949 non-null float64
SaldoRendXcobrarVenc       949 non-null float64
ProvisionREND              949 non-null float64
Saldo_Provision_REND       949 non-null float64
Producto                   949 non-null object
Cid_y                      19 non-null object
CtaProvCap_y               19 non-null object
DescriptionType            19 non-null object
Overdraft                  19 non-null float64
Riesgo_y                   19 non-null object
Provision_y                19 non-null float64
Saldo_Provision_y          19 non-null float64
RecordDate_y               19 non-null datetime64[ns]
AccountNew_y               19 non-null object
dtypes: datetime64[ns](4), float64(12), object(18)
memory usage: 5.1+ MB

In [15]:
mispf.Cid.fillna(mispf.Cid_y, inplace=True)
mispf.CtaProvCap.fillna(mispf.CtaProvCap_y, inplace=True)
mispf.Riesgo.fillna(mispf.Riesgo_y, inplace=True)
mispf.Provision.fillna(mispf.Provision_y, inplace=True)
mispf.Saldo_Provision.fillna(mispf.Saldo_Provision_y, inplace=True)
mispf.RecordDate.fillna(mispf.RecordDate_y, inplace=True)
mispf.AccountNew.fillna(mispf.AccountNew_y, inplace=True)

In [16]:
mispf.drop(labels = ['Cid_y', 
                    'CtaProvCap_y', 
                    'Riesgo_y', 
                    'Provision_y', 
                    'Saldo_Provision_y',
                    'RecordDate_y',
                    'AccountNew_y'], axis = 1, inplace = True)

In [17]:
mispf

,Cid,Provision,SumSaldo,Saldo_Provision,MaxOfCantCuotasVencidas,ProdType,Riesgo,RecordDate,HDelinquency,BlockCode1Date,BlockCodeId1,BlockReason1,BlockCode2Date,BlockCodeId2,BlockReason2,CtaLocal,CtaProvCap,RiskSicri,AccountNew,CtaProvRend,SaldoRendXcobrar,SaldoRendXcobrarVenc,ProvisionREND,Saldo_Provision_REND,Producto,DescriptionType,Overdraft
Account,,,,,,,,,,,,,,,,,,,,,,,,,,,
9018027401,V5531214,0.0,1.07,0.00,0.0,607.0,A,2019-09-30,1111111111111111111111111111111211111111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9018027401,1490310000,0.29,0.0,0.0,0.0,Personal Loan,NaN,NaN
9019099601,V9992869,0.0,2.31,0.00,0.0,643.0,A,2019-09-30,1111111111111111111111111111111111111111111111...,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019099601,1490310000,0.44,0.0,0.0,0.0,Personal Loan,NaN,NaN
9019707401,V14985390,0.0,0.01,0.00,0.0,607.0,A,2019-09-30,1111111111111111111111111111111111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019707401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9019725001,V9234317,0.0,39.75,0.00,0.0,643.0,A,2019-09-30,11111111111111111111111111111111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019725001,1490310000,2.01,0.0,0.0,0.0,Personal Loan,NaN,NaN
9019730301,V3402105,0.0,47.35,0.00,0.0,607.0,A,2019-09-30,1111111111111111111112111132111111,NaT,NaN,NaN,NaT,NaN,NaN,1312210103,1390310000,A,9019730301,1490310000,2.06,0.0,0.0,0.0,Personal Loan,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5046604107,V8741642,100.0,NaN,-0.03,NaN,NaN,E,2019-09-30,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,1390310000,NaN,5046604107,NaN,NaN,NaN,NaN,NaN,NaN,Ahorro Gold,0.03
1055702418,V101486,100.0,NaN,-1.20,NaN,NaN,E,2019-09-30,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,1390310000,NaN,1055702418,NaN,NaN,NaN,NaN,NaN,NaN,Citiplus Gold,1.20
1057246185,V11875039,100.0,NaN,-0.16,NaN,NaN,E,2019-09-30,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,1390310000,NaN,1057246185,NaN,NaN,NaN,NaN,NaN,NaN,Citiplus Gold,0.16
1057246029,V15061627,100.0,NaN,-0.16,NaN,NaN,E,2019-09-30,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,1390310000,NaN,1057246029,NaN,NaN,NaN,NaN,NaN,NaN,Citiplus Blue,0.16
1057228411,V12999499,100.0,NaN,-0.01,NaN,NaN,E,2019-09-30,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,1390310000,NaN,1057228411,NaN,NaN,NaN,NaN,NaN,NaN,Cuenta Corriente Blue,0.01

In [24]:
na_values = {
    'SumSaldo': 0, 
    'MaxOfCantCuotasVencidas': 0, 
    'HDelinquency': '', 
    'BlockCode1Date': pd.to_datetime('1900-01-01'),
    'BlockCodeId1': '',
    'BlockReason1': '',
    'BlockCode2Date': pd.to_datetime('1900-01-01'),
    'BlockCodeId2': '',
    'BlockReason2': '',
    'CtaLocal': '0',
    'RiskSicri': '',
    'CtaProvRend': '0',
    'SaldoRendXcobrar': 0,
    'SaldoRendXcobrarVenc': 0,
    'ProvisionREND': 0,
    'Saldo_Provision_REND': 0,
    'Producto': '',
    'DescriptionType': '',
    'Overdraft': 0
}

In [25]:
mispf.fillna(value=na_values, inplace=True)

In [27]:
columns = ['Cid',
           'Account',
           'AccountNew',
           'ProdType',
           'Provision',
           'SumSaldo',
           'Saldo_Provision',
           'SaldoRendXcobrar',
           'SaldoRendXcobrarVenc',
           'ProvisionREND',
           'Saldo_Provision_REND',
           'Overdraft',
           'MaxOfCantCuotasVencidas',
           'CtaLocal',
           'CtaProvCap',
           'CtaProvRend',
           'Riesgo',
           'RiskSicri',
           'Producto',
           'DescriptionType',
           'RecordDate',
           'HDelinquency',
           'BlockCode1Date',
           'BlockCodeId1',
           'BlockReason1',
           'BlockCode2Date',
           'BlockCodeId2',
           'BlockReason2',
          ]
mispf.reset_index(drop=False, inplace=True)
mispf[columns]

,Cid,Account,AccountNew,ProdType,Provision,SumSaldo,Saldo_Provision,SaldoRendXcobrar,SaldoRendXcobrarVenc,ProvisionREND,Saldo_Provision_REND,Overdraft,MaxOfCantCuotasVencidas,CtaLocal,CtaProvCap,CtaProvRend,Riesgo,RiskSicri,Producto,DescriptionType,RecordDate,HDelinquency,BlockCode1Date,BlockCodeId1,BlockReason1,BlockCode2Date,BlockCodeId2,BlockReason2
0,V5531214,9018027401,9018027401,607.0,0.0,1.07,0.00,0.29,0.0,0.0,0.0,0.00,0.0,1312210103,1390310000,1490310000,A,A,Personal Loan,,2019-09-30,1111111111111111111111111111111211111111111111...,1900-01-01,,,1900-01-01,,
1,V9992869,9019099601,9019099601,643.0,0.0,2.31,0.00,0.44,0.0,0.0,0.0,0.00,0.0,1312210103,1390310000,1490310000,A,A,Personal Loan,,2019-09-30,1111111111111111111111111111111111111111111111...,1900-01-01,,,1900-01-01,,
2,V14985390,9019707401,9019707401,607.0,0.0,0.01,0.00,0.00,0.0,0.0,0.0,0.00,0.0,1312210103,1390310000,0,A,A,,,2019-09-30,1111111111111111111111111111111111111,1900-01-01,,,1900-01-01,,
3,V9234317,9019725001,9019725001,643.0,0.0,39.75,0.00,2.01,0.0,0.0,0.0,0.00,0.0,1312210103,1390310000,1490310000,A,A,Personal Loan,,2019-09-30,11111111111111111111111111111111111,1900-01-01,,,1900-01-01,,
4,V3402105,9019730301,9019730301,607.0,0.0,47.35,0.00,2.06,0.0,0.0,0.0,0.00,0.0,1312210103,1390310000,1490310000,A,A,Personal Loan,,2019-09-30,1111111111111111111112111132111111,1900-01-01,,,1900-01-01,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19204,V8741642,5046604107,5046604107,NaN,100.0,0.00,-0.03,0.00,0.0,0.0,0.0,0.03,0.0,0,1390310000,0,E,,,Ahorro Gold,2019-09-30,,1900-01-01,,,1900-01-01,,
19205,V101486,1055702418,1055702418,NaN,100.0,0.00,-1.20,0.00,0.0,0.0,0.0,1.20,0.0,0,1390310000,0,E,,,Citiplus Gold,2019-09-30,,1900-01-01,,,1900-01-01,,
19206,V11875039,1057246185,1057246185,NaN,100.0,0.00,-0.16,0.00,0.0,0.0,0.0,0.16,0.0,0,1390310000,0,E,,,Citiplus Gold,2019-09-30,,1900-01-01,,,1900-01-01,,
19207,V15061627,1057246029,1057246029,NaN,100.0,0.00,-0.16,0.00,0.0,0.0,0.0,0.16,0.0,0,1390310000,0,E,,,Citiplus Blue,2019-09-30,,1900-01-01,,,1900-01-01,,
19208,V12999499,1057228411,1057228411,NaN,100.0,0.00,-0.01,0.00,0.0,0.0,0.0,0.01,0.0,0,1390310000,0,E,,,Cuenta Corriente Blue,2019-09-30,,1900-01-01,,,1900-01-01,,

In [28]:
mispf.to_csv('../vol/web/media/insumos/manual/fixed/mis_prov.txt', sep='~', date_format='%d/%m/%Y', index=False)